mixin like(like={})
    .like#Like
            span#LikeShape
                if like.like.toString() === "-1"
                    i.far.fa-heart 
                else
                    i.fas.fa-heart
            span  좋아요 
            span#LikeNumber=like.videos.likes
            a#LikeLoginCheck(href=routes.join)   로그인이 필요합니다.