.social-login
    button.social-login--github
        a(href=routes.gitHub)
            span
                i.fab.fa-github
            | GitHub
    button.social-login--kakao
        a(href=routes.kakao)        
            span
                i.fas.fa-sms
            | Kakao
    button.social-login--naver
        a(href=routes.naver)        
            span
                .font-naver N
            | Naver