@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

html,
body {
  height: 100%;
}
body {
  background-color: #f5f5f5;
  color: $black;
  font-family: 'Noto Sans KR', serif;
  font-size: 14px;
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 15vh auto;
  min-height: 70vh;
}

button,
input:not([type="file"]),
textarea {
  padding: 7px 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  color: $black;
  font-weight: 600;
  background-color: white;
  max-width: 320px;
  resize: none;
  &::placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7);
  }
}

button {
    border: 1px solid #dfe6e9;
    background-color: #54a0ff;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    &:hover {
      background-color :#2e86de;
    }
}

button.delete {
    background: $dark-red;
}

