.social-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    button {
      border: 1px solid #dfe6e9;
      width: 100%;
      max-width: 320px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
      i {
        margin-right: 10px;
      }
    }
    .social-login--github {
      background-color: $black;
      color: white;
      &:hover {
          background-color: #000;
      }
    }
    .social-login--facebook {
      background-color: #3a5998;
      color: white;
      &:hover {
          background-color :#0984e3;
      }
    }
  }