extends layouts/main
include mixin/videoBlock

block content
    .videos
        h1 Video
        each item in videos
            +videoBlock({
                id: item.id,
                file: item.fileUrl,
                title: item.title,
                views: item.views
            })