extends layouts/main

block content
    .form-container
        form(action=`${routes.users}${routes.changePassword}`, method="post")
            input(type="password", name="oldpassword", placeholder="기존 비밀번호")
            input(type="password", name="newpassword", placeholder="새로운 비밀번호")
            input(type="password", name="newpassword1", placeholder="새로운 비밀번호 다시입력")
            input(type="submit", value="변경하기") 