.header {
  background: #0984e3;
  margin-bottom: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;

  .header__container {
    padding: 10px 0;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
  .header__column {
    i {
      color: #fff;
      font-size: 50px;
      &:hover {
        color: #74b9ff;
      }
    }
    &:nth-child(2) {
      width: 100%;
      justify-self: center;
    }
    &:last-child {
      justify-self: end;
    }
    ul {
      display: flex;
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
      li:not(:last-child) {
        margin-right: 15px;
      }
      a:hover {
        color: #74b9ff;
      }
    }
    form {
      width: 100%;
      input {
        padding: 10px;
        width: 100%;
        max-width: none;
        &::placeholder {
          color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}
