.like {
    display: block;
    margin-bottom: 15px;
    cursor: pointer;
    i {
      color: #ff7675;
    }
    #LikeLoginCheck {
      display: none;
      opacity: .4;
      &.show {
        display: inline;
      }
    }
}