.social-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  button {
    border: 1px solid #dfe6e9;
    width: 100%;
    max-width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    i,
    .font-naver {
      margin-right: 10px;
    }
  }
  .social-login--github {
    background-color: $black;
    color: white;
    &:hover {
      background-color: #000;
    }
  }
  .social-login--kakao {
    background-color: #ffdc00;
    color: white;
    &:hover {
      background-color: #f39c12;
    }
  }
  .social-login--naver {
    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    background-color: #00c73c;
    color: white;
    &:hover {
      background-color: #27ae60;
    }
  }
  .font-naver {
    font-size: 12px;
    background: #fff;
    color: #00c73c;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
  }
}
