.record-container {
    width: 100%;
    max-width: 320px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    video {
        background: $black;
        width: 100%;
        margin-bottom: 20px;
    }
    span {
        margin-bottom: 10px;
        font-weight: bold;
    }
}