.home-videos {
    width: 100%;
    padding: 0 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    video {
        width: 100%;
    }
    .video-block:first-child,
    .video-block:nth-child(2) {
        grid-column: span 2;
    }
}