.user-profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .user-profile__videos {
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h4 {
      font-size: 20px;
      font-weight: bold;
    }
    .home-videos {
      max-width: 100%;
      display: grid;
      margin-top: 30px;
      grid-template-columns: repeat(6, minmax(180px, 1fr));
      grid-gap: 25px;
      .video-block:first-child,
      .video-block:nth-child(2) {
        grid-column: span 1;
      }
    }
  }
  .user-profile__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .user-profile__username {
      width: auto;
      padding: 10px;
      border-radius: 20px;
      background: #fff;
      font-size: 30px;
      margin: 20px 0;
    }
  }
  .user-profile__btns {
    a:not(:last-child) {
      button {
        margin-bottom: 20px;
      }
    }
  }
}
