.video-detail__container {
  .video__player {
    video {
      max-width: 1000px;
    }
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  .video__info {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin-top: 25px;
    background: #fff;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      button {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 100px;
        margin-bottom: 25px;
      }
    .video__title,
    .video__views,
    .video__description {
      display: block;
      margin-bottom: 15px;
    }
    .video__title {
      font-size: 22px;
      font-weight: bold;
    }
    .video__views {
      font-size: 14px;
    }
    .video__description {
      font-size: 16px;
    }
  }
  .video__author {
    & a:hover {
      color: #ff6b6b;
    }
  }
  .video__comments {
    width: 100%;
    max-width: 1000px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .video__comment-number {
      font-size: 18px;
      font-weight: bold;
      background: #54A0FF;
      padding: 10px;
      color: #fff;
      border-radius: 15px;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    form {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 20px 0;
      input#commentInput {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        max-width: none;
        border-radius: 15px;
        width: 100% !important;
        margin-right: 7px;
      }
      button.comment-addbtn#commentAddBtn {
        background: #54a0ff;
        width: 70px;
        border-radius: 20px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        &:hover {
          background-color :#2e86de;
        }
      }
    }
    .video__comment-list {
      width: 100%;
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1000px;
        margin: 5px 0;
        padding: 5px;
        background: #fff;
        border-radius: 15px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        span:first-child {
          padding: 5px 10px;
          display: block;
          width: 850px;
          word-break: break-all;
        }
        .del-comment {
          cursor: pointer;
          padding: 5px;
        }
        span:last-child {
          display: block;
          padding: 5px;
          width: 140px;
          font-size: 12px;
          align-self: flex-start;
          background: #ecf0f1;
          border-radius: 15px;
        }
      }
    }
  }
}
