.video-detail__container {
  padding: 0 10px;
  .video__player {
    video {
      max-width: 1000px;
    }
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  .video__info {
    position: relative;
    width: 100%;
    // max-width: 1000px;
    margin-top: 25px;
    background: #fff;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    button {
      position: absolute;
      right: 20px;
      top: 20px;
      width: 100px;
      margin-bottom: 25px;
    }
    .video__title,
    .video__views,
    .video__description {
      display: block;
      margin-bottom: 15px;
    }
    .video__title {
      font-size: 22px;
      font-weight: bold;
    }
    .video__views {
      font-size: 14px;
    }
    .video__description {
      font-size: 16px;
    }
  }
  .video__author {
    & a:hover {
      color: #ff6b6b;
    }
  }
  .video__comments {
    width: 100%;
    // max-width: 1000px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .video__comment-number {
      font-size: 18px;
      font-weight: bold;
      background: #54a0ff;
      padding: 10px;
      color: #fff;
      border-radius: 15px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
    form {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 20px 0;
      input#commentInput {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        max-width: none;
        border-radius: 15px;
        width: 100% !important;
        margin-right: 7px;
      }
      button.comment-addbtn#commentAddBtn {
        background: #54a0ff;
        width: 70px;
        border-radius: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        &:hover {
          background-color: #2e86de;
        }
      }
    }
    .video__comment-list {
      width: 100%;
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        margin: 5px 0;
        padding: 10px;
        background: #fff;
        border-radius: 15px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        .video__comment-info {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 10px;
          .video__comment-title {
            .author {
              font-size: 18px;
              font-weight: bold;
              margin-right: 5px;
            }
            .time {
              opacity: .7;
            }
          }
          .del-comment {
            cursor: pointer;
            padding: 5px;
          }
        }
      }
    }
  }
}
