.video-detail__container {
  padding: 0 10px;
  .video__player {
    video {
      max-width: 1000px;
    }
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  .video__info {
    position: relative;
    width: 100%;
    margin-top: 25px;
    background: rgba(255,255,255,.7);
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    button {
      position: absolute;
      right: 20px;
      top: 20px;
      width: 100px;
      margin-bottom: 25px;
    }
    .video__title,
    .video__views,
    .video__description {
      display: block;
      margin-bottom: 15px;
    }
    .video__title {
      font-size: 22px;
      font-weight: bold;
    }
    .video__views {
      font-size: 14px;
    }
    .video__description {
      font-size: 16px;
    }
  }
  .video__author {
    & a:hover {
      color: #74b9ff;
      cursor: pointer;
    }
  }
}
